@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600;700;800&display=swap');

.splashPageContainer {
    display: grid;
    grid-template-rows: 5.5em 1fr;
    grid-template-columns: auto;
    background: #fff;
}


.splashBanner {
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splashBannerLogo {
    display: flex;
    align-items: center;
}

.splashBannerFont {
    font-family: 'Karla', sans-serif;
    font-size: 2.3em;
    font-weight: 700;
    color: #000;
    letter-spacing: -2px;
}

.splashBannerIcon {
    margin-right: .5em;
}

.splashContentContainer {
    display: flex;
    flex-direction: row;
    height: 40em;
    justify-content: center;
    align-items: center;
}

.backgroundImage {
    background: url("https://cfl.dropboxstatic.com/static/images/empty_states/sign-in-boulder@2x-vfl87XcA-.png") no-repeat;
    background-size: 100% 100%;
    height: 28em;
    width: 28em;
}
